{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .content {
            font-family: 'Barlow', sans-serif;
            color: #262526;
            background-color: #F2F2F2;
        }
        .navi{
            background-color: #2B2B2B;
            font-family: 'Barlow', sans-serif;
            color: #938989;
        }

        .boutton {
            font-family: 'Bahnschrift', serif;
            background-color: #CA3232;
            border-style: inset;
            border-color: #D9777F;
            padding: 4px;
        }

        .footer {
            font-family: 'Barlow', sans-serif;
            color: #C3C3C3;
            background-color: #343A40;
            text-align: left;
        }

        .logo {
            max-width: 100%;
            height: auto;
        }
    </style>
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block content %}
<form method="post">
    {% if registrationForm.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            {% for error in registrationForm.vars.errors %}
                {{ error.message }}
            {% endfor %}
        </div>
    {% endif %}

    <h1>Inscription</h1>
    <div class="form-group">
        <div class="control-label col-sm-2">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email, {
                label: 'Email'
            }) }}
        </div>
    </div> 
    <div class="form-group">
        <div class="control-label col-sm-2">
            {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
            }) }}
        </div>
    </div>
    <div class="form-group">
        <div class="align">
            {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les termes'
            }) }}
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-sm-2">
            <button type="submit" class="boutton">Inscription</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endblock %}
{% block footer%}

{% endblock %}