{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        .content {
            font-family: 'Barlow', sans-serif;
            color: #262526;
            background-color: #F2F2F2;
        }
        .navi{
            background-color: #2B2B2B;
            font-family: 'Barlow', sans-serif;
            color: #938989;
        }

        .boutton {
            font-family: 'Bahnschrift', serif;
            background-color: #CA3232;
            border-style: inset;
            border-color: #D9777F;
            padding: 4px;
        }

        .footer {
            font-family: 'Barlow', sans-serif;
            color: #C3C3C3;
            background-color: #343A40;
            text-align: left;
        }

        .logo {
            max-width: 100%;
            height: auto;
        }
    </style>
{% endblock %}
{% block title %}Détails du Témoignage{% endblock %}

{% block content %}
    <h1>Détails du Témoignage</h1>
    <div>
        <strong>Nom:</strong> {{ temoignage.nom }}<br>
        <strong>Note:</strong> {{ temoignage.note }}<br>
        <strong>Commentaire:</strong> {{ temoignage.commentaire }}<br>
        <strong>Statut:</strong> {{ temoignage.statut }}<br>
        {# Si vous avez besoin d'afficher d'autres détails, vous pouvez les ajouter ici #}
    </div>
    <a href="{{ path('temoignage_list_public') }}">Retour à la liste des témoignages</a>
{% endblock %}